depression-app/node_modules/
depression-app/dist/
depression-app/.vite/

server/venv/
server/newenv/
server/myenv/
server/blob/
server/__pycache__/
server/.pytest_cache/

server/*.log
server/*.webm
server/*.mp4
server/*.mp3
server/transcription_*.txt

server/codes/
server/testing/
server/text_feature_mod.h5

**/__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/
.DS_Store
Thumbs.db
server/newenv
