.log-container{
    /* background:url("../../../image/log-pic.png"); */
    /* min-height:100vh; */
    height:80vh;
    background-position:right center; 
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: white;
    min-height : 100vh;
    overflow: auto;
}

.log-container .log-content{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    /* justify-content:flex-start;
    align-items:flex-start;
    position: relative;
    left: -100px; */
}

.log-container .log-text{
    font-size: 2rem;
}

.log-container .wel-text{
    color : #F3BAA6;
    font-size: 3.2rem;
}

.log-container .input-area{
    margin-top: 3rem;
}

.log-container .input-area input {
    color : black;
}

::placeholder{
    color : black;
    font-weight: 300;
    font-size: 1rem;
}

.log-container .input-label{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

.log-container .log-img{
    visibility: hidden;
    width: 0;
}

.log-container input{
    border: 1px solid aliceblue;
    box-sizing: border-box;
    border-radius: 7px;
    width: 20rem;
    height: 2rem;
    font-weight: 700;
    font-size: 1rem;
    background: aliceblue;
}

.log-container .log-btn{
    margin-top: 2rem;
    background: #F3BAA6;
    opacity: 0.9;
    border-radius: 10px;
    width: 9rem;
    height: 3rem;
    color: black;
    font-weight: 600;
    outline: none;
    /* font-size: 1.3rem; */
}

/* .log-container button:hover{
    margin-top: 2rem;
    background: white;
    opacity: 0.9;
    border-radius: 10px;
    width: 9rem;
    height: 3rem;
    color: #F3BAA6;
    font-weight: 600;
    border: 2px solid #F3BAA6;
} */

@media screen and (max-width:700px) {
    .log-container {
        background:none;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
    }
    .log-container .log-img{
        visibility: visible;
        width: 100%;
    }
}