.video-controls button {
    background: #F3BAA6;
    color : #11294F;
}

.recorded-player button {
    margin-top: 2rem;
    background: #F3BAA6;
    color : #11294F;
}

.like-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .like-modal-content {
    position: relative;
    /* background-color: white; */
    width: 80%;
    max-width: 800px;
    max-height: 20%;
    /* overflow: auto; */
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-btn  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3BAA6;
    color: #11294F;
}

